<!-- ng -->
<script type='text/javascript' src='/lib/angular/angular.min.js'></script>
<script type="text/javascript" src="/lib/angular/angular-queue.js"></script>
<script type='text/javascript' src='/lib/angular-cookies/angular-cookies.js'></script>
<script type='text/javascript' src='/lib/angular-resource/angular-resource.js'></script>
<script type='text/javascript' src='/lib/angular-route/angular-route.js'></script>
<script type='text/javascript' src='/lib/angular-sanitize/angular-sanitize.min.js'></script>
<script type='text/javascript' src='/lib/angular-touch/angular-touch.min.js'></script>
<script type='text/javascript' src='/lib/angular-ui-utils/modules/route/route.js'></script>
<script type='text/javascript' src='/lib/angular-animate/angular-animate.js'></script>
<!-- js libs -->
<script type='text/javascript' src='/lib/jquery/jquery.min.js'></script>
<script type='text/javascript' src='/lib/underscore/underscore-min.js'></script>
<script type='text/javascript' src='/lib/d3/d3.v3.min.js'></script>
<script type='text/javascript' src='/lib/snap/snap.svg-min.js'></script>
<script type='text/javascript' src='/lib/jquery/jquery.soap.js'></script>
<script type='text/javascript' src='/lib/validation/PlainFeedValidationService.js'></script>
<script type='text/javascript' src='/lib/greensock/easing/EasePack.min.js'></script>
<script type='text/javascript' src='/lib/greensock/plugins/RaphaelPlugin.min.js'></script>
<script type='text/javascript' src='/lib/greensock/TweenMax.min.js'></script>
<script type='text/javascript' src='/lib/greensock/TimelineMax.min.js'></script>
<script type='text/javascript' src='/lib/greensock/utils/Draggable.min.js'></script>
<script type='text/javascript' src='/lib/greensock/plugins/CSSPlugin.min.js'></script>
<script type='text/javascript' src='/lib/yahoo/yui-min.js'></script>
<script type='text/javascript' src='/lib/yahoo/videoplayer-min.js'></script>
<script type='text/javascript' src='/lib/smarttable/smart-table.min.js'></script>
<script type='text/javascript' src='/lib/momentjs/min/moment.min.js'></script>
<script type='text/javascript' src='/lib/pixi/pixi.min.js'></script>
<script type='text/javascript' src='/lib/physicsjs/physicsjs-full.js'></script>
<!-- analytics -->
<script type='text/javascript' src='/js/analytics.js'></script>
<!-- bootstrap -->
<script type='text/javascript' src='/lib/angular-bootstrap/ui-bootstrap.js'></script>
<script type='text/javascript' src='/lib/angular-bootstrap/ui-bootstrap-tpls.js'></script>
<!-- bootstrap slider -->
<script type='text/javascript' src="/lib/modernizr/modernizr.js"></script>
<!--<script type='text/javascript' src='/lib/slider/js/bootstrap-slider.js'></script>-->
<script type='text/javascript' src='/lib/w/W.min.js'></script>
<script type="text/javascript" src="/lib/pxloader/PxLoader.js"></script>
<script type="text/javascript" src="/lib/pxloader/PxLoaderImage.js"></script>
<script type="text/javascript" src="/lib/socketio/socket.io.js"></script>

<!-- cabinquest -->
<script type='text/javascript' src='/js/cabinquest.min.js'></script>

<script>

//if (process.env.NODE_ENV == 'development')
	//Livereload script rendered
//	script(type='text/javascript', src='http://' + req.host + ':35729/livereload.js')

</script>


<!--
<script>
			window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>
-->

