<!-- ng -->
<script type='text/javascript' src='/lib/angular/angular.min.js'></script>
<script type="text/javascript" src="/lib/angular/angular-queue.js"></script>
<script type='text/javascript' src='/lib/angular-cookies/angular-cookies.js'></script>
<script type='text/javascript' src='/lib/angular-resource/angular-resource.js'></script>
<script type='text/javascript' src='/lib/angular-route/angular-route.js'></script>
<script type='text/javascript' src='/lib/angular-sanitize/angular-sanitize.min.js'></script>
<script type='text/javascript' src='/lib/angular-touch/angular-touch.min.js'></script>
<script type='text/javascript' src='/lib/angular-ui-utils/modules/route/route.js'></script>
<script type='text/javascript' src='/lib/angular-animate/angular-animate.js'></script>
<!-- js libs -->
<script type='text/javascript' src='/lib/jquery/jquery.min.js'></script>
<script type='text/javascript' src='/lib/underscore/underscore-min.js'></script>
<script type='text/javascript' src='/lib/d3/d3.v3.min.js'></script>
<script type='text/javascript' src='/lib/snap/snap.svg-min.js'></script>
<script type='text/javascript' src='/lib/jquery/jquery.soap.js'></script>
<script type='text/javascript' src='/lib/validation/PlainFeedValidationService.js'></script>
<script type='text/javascript' src='/lib/greensock/easing/EasePack.min.js'></script>
<script type='text/javascript' src='/lib/greensock/plugins/RaphaelPlugin.min.js'></script>
<script type='text/javascript' src='/lib/greensock/TweenMax.min.js'></script>
<script type='text/javascript' src='/lib/greensock/TimelineMax.min.js'></script>
<script type='text/javascript' src='/lib/greensock/utils/Draggable.min.js'></script>
<script type='text/javascript' src='/lib/greensock/plugins/CSSPlugin.min.js'></script>
<script type='text/javascript' src='/lib/yahoo/yui-min.js'></script>
<script type='text/javascript' src='/lib/yahoo/videoplayer-min.js'></script>
<script type='text/javascript' src='/lib/smarttable/smart-table.min.js'></script>
<script type='text/javascript' src='/lib/momentjs/min/moment.min.js'></script>
<script type='text/javascript' src='/lib/pixi/pixi.min.js'></script>
<script type='text/javascript' src='/lib/physicsjs/physicsjs-full.js'></script>

<script type='text/javascript' src='/lib/hammer/hammer.min.js'></script>
<script type='text/javascript' src='/lib/hammer/hammer-time.min.js'></script>

<!-- analytics -->
<script type='text/javascript' src='/js/analytics.js'></script>

<!-- bootstrap -->
<script type='text/javascript' src='/lib/angular-bootstrap/ui-bootstrap.js'></script>
<script type='text/javascript' src='/lib/angular-bootstrap/ui-bootstrap-tpls.js'></script>
<!-- bootstrap slider -->
<script type='text/javascript' src="/lib/modernizr/modernizr.js"></script>
<!--<script type='text/javascript' src='/lib/slider/js/bootstrap-slider.js'></script>-->
<script type='text/javascript' src='/lib/w/W.min.js'></script>
<script type="text/javascript" src="/lib/pxloader/PxLoader.js"></script>
<script type="text/javascript" src="/lib/pxloader/PxLoaderImage.js"></script>
<script type="text/javascript" src="/lib/socketio/socket.io.js"></script>

<!-- cabinquest -->

<!-- ng setup -->
<script type='text/javascript' src='/js/app.js'></script>
<script type='text/javascript' src='/js/config.js'></script>
<script type='text/javascript' src='/js/directives.js'></script>
<script type='text/javascript' src='/js/filters.js'></script>

<!-- controllers -->
<script type='text/javascript' src='/js/controllers/maker/MakerViewController.js'></script>
<script type='text/javascript' src='/js/controllers/admin/AdminViewController.js'></script>
<script type='text/javascript' src='/js/controllers/takeout/TakeoutViewController.js'></script>
<script type='text/javascript' src='/js/controllers/bellwoods/store/item/ItemViewController.js'></script>
<script type='text/javascript' src='/js/controllers/bellwoods/store/StoreViewController.js'></script>
<script type='text/javascript' src='/js/controllers/bellwoods/unit/UnitStatsViewController.js'></script>
<script type='text/javascript' src='/js/controllers/index/IndexController.js'></script>
<script type='text/javascript' src='/js/controllers/nav/NavController.js'></script>
<script type='text/javascript' src='/js/controllers/footer/FooterController.js'></script>
<script type='text/javascript' src='/js/controllers/auth/AuthController.js'></script>
<script type='text/javascript' src='/js/controllers/profile/ProfileViewController.js'></script>
<script type='text/javascript' src='/js/controllers/profile/ProfilePageController.js'></script>
<script type='text/javascript' src='/js/controllers/articles/ArticlesController.js'></script>
<script type='text/javascript' src='/js/controllers/request/invite/RequestInviteController.js'></script>
<script type='text/javascript' src='/js/controllers/fileupload/FileUploadController.js'></script>
<script type='text/javascript' src='/js/controllers/settings/PortholeSettingsViewController.js'></script>


<!-- models -->
<script type='text/javascript' src='/js/models/bellwoods/dialogue/DialogueModel.js'></script>
<script type='text/javascript' src='/js/models/settings/PortholeSettingsModel.js'></script>
<script type='text/javascript' src='/js/models/PortholeBranchModel.js'></script>
<script type='text/javascript' src='/js/models/MagicModel.js'></script>
<script type='text/javascript' src='/js/models/UnitImagesModel.js'></script>
<script type='text/javascript' src='/js/models/UnitModel.js'></script>
<script type='text/javascript' src='/js/models/TakeoutModel.js'></script>
<script type='text/javascript' src='/js/models/ParkModel.js'></script>
<script type='text/javascript' src='/js/models/bellwoods/BellwoodsModel.js'></script>

<!--filters -->
<script type='text/javascript' src='/js/filters/TrustHtmlFilter.js'></script>

<!-- animatations -->
<script type='text/javascript' src='/js/animations/RepeatAnimation.js'></script>

<!--utils-->
<script type='text/javascript' src='/js/utils/NumberUtilFactory.js'></script>
<script type='text/javascript' src='/js/utils/StringUtilFactory.js'></script>
<script type='text/javascript' src='/js/utils/PortholeTreeUtil.js'></script>

<!-- factories -->
<!--<script type='text/javascript' src='/js/factories/bellwoods/BellwoodsBackgroundFactory.js'></script>-->
<script type='text/javascript' src='/js/factories/cluster/ClusterFactory.js'></script>
<script type='text/javascript' src='/js/factories/bellwoods/BellwoodsCameraFactory.js'></script>
<script type='text/javascript' src='/js/factories/bellwoods/unit/UnitAnimationFactory.js'></script>
<script type='text/javascript' src='/js/factories/bellwoods/BellwoodsTreeActorFactory.js'></script>
<script type='text/javascript' src='/js/factories/bellwoods/BellwoodsGameActorsFactory.js'></script>
<script type='text/javascript' src='/js/factories/preloaders/HikingPreloaderFactory.js'></script>
<script type='text/javascript' src='/js/factories/preloaders/DronePreloaderFactory.js'></script>
<script type='text/javascript' src='/js/factories/campaigns/bigcitybrave/BigCityBraveFactory.js'></script>
<script type='text/javascript' src='/js/factories/campaigns/evergreengoldrush/EvergreenGoldRushFactory.js'></script>

<!-- factories space -->
<script type='text/javascript' src='/js/factories/space/SpaceBotFactory.js'></script>
<script type='text/javascript' src='/js/factories/space/SpaceActionFactory.js'></script>
<script type='text/javascript' src='/js/factories/space/SpaceReducerFactory.js'></script>
<script type='text/javascript' src='/js/factories/space/SpaceGameStateFactory.js'></script>

<script type='text/javascript' src='/js/factories/space/SpaceAssetConfigFactory.js'></script>
<script type='text/javascript' src='/js/factories/space/SpaceAssetFactory.js'></script>
<script type='text/javascript' src='/js/factories/space/SpaceHillsFactory.js'></script>
<script type='text/javascript' src='/js/factories/space/SpaceFactory.js'></script>

<!-- services -->
<script type='text/javascript' src='/js/services/alchemy/AlchemyService.js'></script>
<script type='text/javascript' src='/js/services/goals/GoalsService.js'></script>
<script type='text/javascript' src='/js/services/weather/WeatherService.js'></script>
<script type='text/javascript' src='/js/services/bellwoods/store/StoreService.js'></script>
<script type='text/javascript' src='/js/services/config/ConfigService.js'></script>
<script type='text/javascript' src='/js/services/global/GlobalFactoryService.js'></script>
<script type='text/javascript' src='/js/services/user/CabinQuestUserFactoryService.js'></script>
<script type='text/javascript' src='/js/services/social/SocialFactoryService.js'></script>
<script type='text/javascript' src='/js/services/bellwoods/image/BellwoodsImageService.js'></script>
<script type='text/javascript' src='/js/services/bellwoods/image/PortholeImageService.js'></script>
<script type='text/javascript' src='/js/services/porthole/PortholeSettingsService.js'></script>

<script type='text/javascript' src='/js/services/porthole/PortholeTwitterService.js'></script>
<script type='text/javascript' src='/js/services/porthole/PortholeTreeService.js'></script>
<script type='text/javascript' src='/js/services/porthole/PortholeLocalStorageService.js'></script>

<script type='text/javascript' src='/js/services/bellwoods/feed/FeedFactoryService.js'></script>
<script type='text/javascript' src='/js/services/bellwoods/trees/TreesFactoryService.js'></script>
<script type='text/javascript' src='/js/services/bellwoods/takeout/TakeoutFactoryService.js'></script>
<script type='text/javascript' src='/js/services/bellwoods/forest/ForestFactoryService.js'></script>
<script type='text/javascript' src='/js/services/bellwoods/map/MapMovementService.js'></script>
<script type='text/javascript' src='/js/services/social/TwitterService.js'></script>
<script type='text/javascript' src='/js/services/social/FacebookService.js'></script>

<!-- controllers -->
<script type='text/javascript' src='/js/controllers/space/SpaceViewController.js'></script>

<script type='text/javascript' src='/js/controllers/settings/FeedSettingViewController.js'></script>
<script type='text/javascript' src='/js/controllers/settings/FeedSettingsViewController.js'></script>
<script type='text/javascript' src='/js/controllers/hive/HiveViewController.js'></script>
<script type='text/javascript' src='/js/controllers/PortholeAppViewController.js'></script>
<script type='text/javascript' src='/js/controllers/media/PortholeMediaController.js'></script>
<script type='text/javascript' src='/js/controllers/porthole/PortholeViewController.js'></script>
<script type='text/javascript' src='/js/controllers/bellwoods/leaf/LeafViewController.js'></script>

<script type='text/javascript' src='/js/controllers/bellwoods/dataviz/DataVizController.js'></script>
<script type='text/javascript' src='/js/controllers/bellwoods/gifts/GiftsController.js'></script>
<script type='text/javascript' src='/js/controllers/bellwoods/cabin/CabinController.js'></script>

<script type='text/javascript' src='/js/controllers/bellwoods/campaign/CampaignController.js'></script>
<script type='text/javascript' src='/js/controllers/bellwoods/match/MatchController.js'></script>
<script type='text/javascript' src='/js/controllers/bellwoods/collision/CollisionController.js'></script>
<script type='text/javascript' src='/js/controllers/preloader/PreloaderShieldController.js'></script>

<script type='text/javascript' src='/js/controllers/bellwoods/ui/hud/HUDController.js'></script>
<script type='text/javascript' src='/js/controllers/bellwoods/ui/actions/ActionsController.js'></script>
<script type='text/javascript' src='/js/controllers/bellwoods/ui/legend/LegendController.js'></script>
<script type='text/javascript' src='/js/controllers/bellwoods/tags/TagsViewController.js'></script>

<script type='text/javascript' src='/js/controllers/bellwoods/unit/UnitController.js'></script>
<script type='text/javascript' src='/js/controllers/bellwoods/trees/TreesController.js'></script>
<script type='text/javascript' src='/js/controllers/bellwoods/forest/ForestController.js'></script>
<script type='text/javascript' src='/js/controllers/bellwoods/weather/SnowController.js'></script>
<script type='text/javascript' src='/js/controllers/bellwoods/weather/WeatherController.js'></script>

<script type='text/javascript' src='/js/controllers/maps/MapEditorPageController.js'></script>
<script type='text/javascript' src='/js/controllers/maps/MapEditorViewController.js'></script>

<script type='text/javascript' src='/js/controllers/controls/ControlsViewController.js'></script>
<script type='text/javascript' src='/js/controllers/bellwoods/branches/BranchViewController.js'></script>
<script type='text/javascript' src='/js/controllers/bellwoods/branches/BranchesViewController.js'></script>

<script type='text/javascript' src='/js/controllers/bellwoods/sample/BellwoodsSampleGameController.js'></script>
<script type='text/javascript' src='/js/controllers/bellwoods/BellwoodsGameController.js'></script>
<script type='text/javascript' src='/js/controllers/messages/MessagesViewController.js'></script>
<script type='text/javascript' src='/js/controllers/bellwoods/tree/TreeViewController.js'></script>
<script type='text/javascript' src='/js/controllers/main/CabinQuestViewController.js'></script>

<!-- directives -->	
<script type='text/javascript' src='/js/directives/maker/MakerDirective.js'></script>
<script type='text/javascript' src='/js/directives/preloader/PreloaderShieldDirective.js'></script>
<script type='text/javascript' src='/js/directives/TakeoutDirective.js'></script>
<script type='text/javascript' src='/js/directives/bellwoods/store/item/ItemDirective.js'></script>
<script type='text/javascript' src='/js/directives/bellwoods/store/StoreDirective.js'></script>
<script type='text/javascript' src='/js/directives/bellwoods/unit/UnitStatsDirective.js'></script>
<script type='text/javascript' src='/js/directives/SpaceDirective.js'></script>
<script type='text/javascript' src='/js/directives/settings/FeedSettingsDirective.js'></script>
<script type='text/javascript' src='/js/directives/settings/FeedSettingDirective.js'></script>
<script type='text/javascript' src='/js/directives/maps/MapEditorDirective.js'></script>
<script type='text/javascript' src='/js/directives/HiveDirective.js'></script>
<script type='text/javascript' src='/js/directives/MessagesDirective.js'></script>
<script type='text/javascript' src='/js/directives/FileUploadDirective.js'></script>
<script type='text/javascript' src='/js/directives/PortholeMediaDirective.js'></script>
<script type='text/javascript' src='/js/directives/PortholeSettingsDirective.js'></script>
<script type='text/javascript' src='/js/directives/PortholeDirective.js'></script>
<script type='text/javascript' src='/js/directives/profile/ProfileDirective.js'></script>
<script type='text/javascript' src='/js/directives/controls/ControlsDirective.js'></script>
<script type='text/javascript' src='/js/directives/bellwoods/branches/BranchDirective.js'></script>
<script type='text/javascript' src='/js/directives/bellwoods/branches/BranchesDirective.js'></script>
<script type='text/javascript' src='/js/directives/bellwoods/leaf/LeafDirective.js'></script>
<script type='text/javascript' src='/js/directives/bellwoods/tree/TreeDirective.js'></script>
<script type='text/javascript' src='/js/directives/CabinQuestDirective.js'></script>

<!-- porthole directives -->



<!-- init -->
<script type='text/javascript' src='/js/init.js'></script>

<script>

//if (process.env.NODE_ENV == 'development')
	//Livereload script rendered
//	script(type='text/javascript', src='http://' + req.host + ':35729/livereload.js')

</script>





<!--
<script>
			window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>
-->

